<!DOCTYPE html>
<html>
<head>
  <title>LoginRequiredLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session.include? :name %>
  <%= form_tag sessions_destroy_path do %>
    <%= submit_tag "Log out" %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
